body {

	margin: 0px;
	padding: 0px;
	font-family: "Inter", sans-serif;

}

#key_holder {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

.key {

	width: 56px;
	height: 56px;
	border: 2px solid black;
	color: black;
	margin-right: 4px;
	margin-bottom: 4px;
	border-radius: 16px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	flex-grow: 0;
	font-weight: 600;
	box-sizing: border-box;

}